@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Custom hover styles for blog table */
tr:hover {
    background-color: #f0f4f8;
}
